<link rel="stylesheet" href="/css/navbar.css">
<header class="header">
  <nav class="navbar" style="background-color: black;color: white;">
      <a href="/" style="color: white;" class="nav-logo">Online siksha</a>
      <ul class="nav-menu">
          <li class="nav-item">
              <a href="/dsa"  class="nav-link">Datastructure algorithms</a>
          </li>
          <li class="nav-item">
              <a href="/web" class="nav-link">Web dev</a>
          </li>
          <li class="nav-item">
              <a href="/ml"class="nav-link">Machine learning</a>
          </li>
          <li class="nav-item">
              <a href="/iot" class="nav-link">Internet of things</a>
          </li>
      </ul>
      <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </div>
  </nav>
</header>