<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            color: white;
            background-color: lightcoral;
        }

        h4 {
            display: flex;
            align-items: center;
            font-family: sans-serif;
            margin-bottom: 1px;
            color: black;
            height: 50px;
            width: 100%;
            background-color: white;
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
        }
        .footer__ {
            background-color: grey;
            color: white;
        }

        h4:hover {
            color: green;
            z-index: +15;
        }
    </style>
</head>

<body>
    <%-include('partials /navbar')%>
    <%-include('partials /footer')%>
</body>

</html>