<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://static.javatpoint.com/link.css?v=5.0" async="">
    <link type="text/css" rel="stylesheet"
        href="https://www.google.com/cse/static/element/b54a745638da8bbb/default+en.css">
    <link type="text/css" rel="stylesheet" href="https://www.google.com/cse/static/style/look/v4/espresso.css">
    <link type="text/css" rel="stylesheet"
        href="https://www.google.com/cse/static/element/b54a745638da8bbb/default+en.css">
    <link type="text/css" rel="stylesheet" href="https://www.google.com/cse/static/style/look/v4/espresso.css">
    <title>Internet Of Things</title>
    <style>
        .footer__ {
            background-color: grey;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
        }

        .container {
            display: flex;
            flex-direction: row;
            padding: 5px;
        }

        body {
            width: 99%;
        }
    </style>
</head>

<body>
    <%-include('partials/navbar')%>
    <div class="onlycontentinner">
        <div id="city">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <h1 class="h1">IoT (Internet of Things) Tutorial</h1>

                            <p>IoT tutorial provides basic and advanced concepts of IoT. Our Internet of Things tutorial
                                is designed for beginners and professionals.</p>
                            <p>IoT stands for Internet of Things, which means accessing and controlling daily usable
                                equipments and devices using Internet. </p>
                            <p>Our IoT tutorial includes all topics of IoT such as introduction, features, advantage and
                                disadvantage, ecosystem, decision framework, architecture and domains, biometric,
                                security camera and door unlock system, devices, etc.</p>
                            <h2 class="h2">What is an Internet of Things (IoT)</h2>
                            <p>Let's us look closely at our mobile device which contains GPS Tracking, Mobile Gyroscope,
                                Adaptive brightness, Voice detection, Face detection etc. These components have their
                                own individual features, but what about if these all communicate with each other to
                                provide a better environment? For example, the phone brightness is adjusted based on my
                                GPS location or my direction.</p>
                            <p>Connecting everyday things embedded with electronics, software, and sensors to internet
                                enabling to collect and exchange data without human interaction called as the Internet
                                of Things (IoT).</p>
                            <p>The term "Things" in the Internet of Things refers to anything and everything in day to
                                day life which is accessed or connected through the internet.</p>
                            <img src="https://static.javatpoint.com/tutorial/iot/images/what-is-an-internet-of-things.png"
                                alt="IoT Introdoction">
                            <p>IoT is an advanced automation and analytics system which deals with artificial
                                intelligence, sensor, networking, electronic, cloud messaging etc. to deliver complete
                                systems for the product or services. The system created by IoT has greater transparency,
                                control, and performance. </p>
                            <p>As we have a platform such as a cloud that contains all the data through which we connect
                                all the things around us. For example, a house, where we can connect our home appliances
                                such as air conditioner, light, etc. through each other and all these things are managed
                                at the same platform. Since we have a platform, we can connect our car, track its fuel
                                meter, speed level, and also track the location of the car.</p>
                            <img src="https://static.javatpoint.com/tutorial/iot/images/what-is-an-internet-of-things2.png"
                                alt="IoT Introdoction">
                            <p>If there is a common platform where all these things can connect to each other would be
                                great because based on my preference, I can set the room temperature. For example, if I
                                love the room temperature to to be set at 25 or 26-degree Celsius when I reach back home
                                from my office, then according to my car location, my AC would start before 10 minutes I
                                arrive at home. This can be done through the Internet of Things (IoT).</p>
                            <h2 class="h2">How does Internet of Thing (IoT) Work?</h2>
                            <p>The working of IoT is different for different IoT echo system (architecture). However,
                                the key concept of there working are similar. The entire working process of IoT starts
                                with the device themselves, such as smartphones, digital watches, electronic appliances,
                                which securely communicate with the IoT platform. The platforms collect and analyze the
                                data from all multiple devices and platforms and transfer the most valuable data with
                                applications to devices.</p>
                            <img src="https://static.javatpoint.com/tutorial/iot/images/what-is-an-internet-of-things3.png"
                                alt="IoT Introdoction">
                            <h2 class="h2">Features of IOT</h2>
                            <p>The most important features of IoT on which it works are connectivity, analyzing,
                                integrating, active engagement, and many more. Some of them are listed below:</p>
                            <p><strong>Connectivity:</strong> Connectivity refers to establish a proper connection
                                between all the things of IoT to IoT platform it may be server or cloud. After
                                connecting the IoT devices, it needs a high speed messaging between the devices and
                                cloud to enable reliable, secure and bi-directional communication.</p>
                            <p><strong>Analyzing:</strong> After connecting all the relevant things, it comes to
                                real-time analyzing the data collected and use them to build effective business
                                intelligence. If we have a good insight into data gathered from all these things, then
                                we call our system has a smart system.</p>
                            <p><strong>Integrating:</strong> IoT integrating the various models to improve the user
                                experience as well. </p>
                            <p><strong>Artificial Intelligence:</strong> IoT makes things smart and enhances life
                                through the use of data. For example, if we have a coffee machine whose beans have going
                                to end, then the coffee machine itself order the coffee beans of your choice from the
                                retailer.</p>
                            <p><strong>Sensing:</strong> The sensor devices used in IoT technologies detect and measure
                                any change in the environment and report on their status. IoT technology brings passive
                                networks to active networks. Without sensors, there could not hold an effective or true
                                IoT environment.</p>
                            <p><strong>Active Engagement:</strong> IoT makes the connected technology, product, or
                                services to active engagement between each other. </p>
                            <p><strong>Endpoint Management:</strong> It is important to be the endpoint management of
                                all the IoT system otherwise, it makes the complete failure of the system. For example,
                                if a coffee machine itself order the coffee beans when it goes to end but what happens
                                when it orders the beans from a retailer and we are not present at home for a few days,
                                it leads to the failure of the IoT system. So, there must be a need for endpoint
                                management.</p>
                            <h2 class="h2 center textshadow">IoT Index</h2>
                            <hr>
                            <div class="responsivediv">
                                <div class="col-3">
                                    <p><strong>IoT Tutorial</strong></p>
                                    <ul class="points">
                                        <li><a href="https://www.javatpoint.com/iot-internet-of-things">IoT Tutorial</a>
                                        </li>
                                        <li><a href="https://www.javatpoint.com/iot-advantage-and-disadvantage">Advantage
                                                &amp; Disadvantage</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-embedded-devices">Embedded Devices
                                                and System</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-ecosystem">IoT Ecosystem</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-decision-framework">IoT Decision
                                                Framework</a></li>
                                    </ul>
                                    <p><strong>Architecture &amp; Domains</strong></p>
                                    <ul class="points">
                                        <li><a href="https://www.javatpoint.com/iot-architecture-models">Solution
                                                Architecture Models</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-energy-domain">IoT - Energy
                                                Domain</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-biometric-domain">IoT - Biometric
                                                Domain</a></li>
                                        <li><a
                                                href="https://www.javatpoint.com/iot-security-camera-and-door-unlock-system">Security
                                                Camera and Door Unlock System</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-smart-home-and-smart-city">Smart
                                                Home and City</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-smart-agriculture-domain">IoT -
                                                Smart Agriculture</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-healthcare">IoT - Healthcare</a>
                                        </li>
                                        <li><a href="https://www.javatpoint.com/iot-transportation">IoT -
                                                Transportation</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-transforming-businesses">Transforming
                                                Businesses</a></li>
                                    </ul>
                                </div>
                                <div class="col-3">
                                    <p><strong>IoT Devices</strong></p>
                                    <ul class="points">
                                        <li><a href="https://www.javatpoint.com/iot-smart-objects">Smarts Objects</a>
                                        </li>
                                        <li><a href="https://www.javatpoint.com/iot-devices">IoT Devices</a></li>
                                        <li><a href="https://www.javatpoint.com/major-iot-boards-in-market">Major IoT
                                                Boards in Market</a></li>
                                    </ul>
                                    <p><strong>IoT Platforms</strong></p>
                                    <ul class="points">
                                        <li><a href="https://www.javatpoint.com/iot-platform">IoT Platform</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-thingworx-platform">ThingWorx
                                                Platform</a></li>
                                    </ul>
                                    <p><strong>Communication Protocols</strong></p>
                                    <ul class="points">
                                        <li><a href="https://www.javatpoint.com/iot-data-link-communication-protocol">Data
                                                Link</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-network-layer-protocols">Network
                                                Layer</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-session-layer-protocols">Session
                                                Layer</a></li>
                                    </ul>
                                </div>
                                <div class="col-3">
                                    <p><strong>IoT Projects</strong></p>
                                    <ul class="points">
                                        <li><a
                                                href="https://www.javatpoint.com/iot-project-using-arduino-bluetooth-module-to-control-led">Arduino
                                                - Bluetooth Module LED Controller</a></li>
                                        <li><a
                                                href="https://www.javatpoint.com/iot-project-controlling-home-light-using-bluetooth-module-arduino-relay">IoT
                                                Controlling Home Light Using Bluetooth</a></li>
                                        <li><a
                                                href="https://www.javatpoint.com/iot-project-controlling-light-using-nodemcu-relay-wifi">IoT
                                                Controlling Light using NodeMCU Relay WiFi</a></li>
                                        <li><a
                                                href="https://www.javatpoint.com/iot-project-using-ultrasonic-sensor-arduino-distance-calculation">Arduino
                                                - Ultrasonic Sensor Distance calculation</a></li>
                                        <li><a
                                                href="https://www.javatpoint.com/iot-sonar-system-ultrasonic-sensor-arduino">IoT
                                                Sonar System Using Ultrasonic Sensor Arduino Device</a></li>
                                        <li><a
                                                href="https://www.javatpoint.com/iot-temperature-pressure-measurement-pressure-sensor-arduino">IoT
                                                Temperature, Pressure, and measurement Arduino device</a></li>
                                        <li><a
                                                href="https://www.javatpoint.com/iot-temperature-pressure-altitude-measurement-using-pressure-sensor-arduino">IoT
                                                Temperature, Pressure and Altitude measurement Arduino device</a></li>
                                        <li><a href="https://www.javatpoint.com/iot-project-google-firebase-nodemcu">IoT
                                                Google Firebase NodeMCU</a></li>
                                        <li><a
                                                href="https://www.javatpoint.com/iot-project-google-firebase-controlling-led-with-nodemcu">IoT
                                                Google Firebase Controlling LED with NodeMCU</a></li>
                                        <li><a
                                                href="https://www.javatpoint.com/iot-project-google-firebase-controlling-led-using-android-app">IoT
                                                Google Firebase controlling LED using Android App</a></li>
                                    </ul>
                                </div>
                            </div>
                            <hr>

                            <br>
                            <a href="https://youtube.com/playlist?list=PLJ5C_6qdAvBG7SHg5mLOQq6bzF-sOPu3k">Click here if
                                you want to access the best playlist for
                                IOT </a>
                            <h2>Videos for you</h2>
                            <div class="container">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/WUYAjxnwjU4"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/qko-f1VDhCM"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/d9QfVpCG00Y"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>

                            </div>
                            <div class="container">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/oNWnB3dZWNM"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/JC3cQ2MB_34"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/JZiX3ou2-wo"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <div class="container">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/py2jgNfzdcU"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/S3ZLs9AFd08"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/g4dW1cVsaq8"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
        <%-include('partials/footer')%>
</body>
<script src="/js/main.js"></script>
</html>