<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <meta name="theme-color" content="#308D46">

    <link rel="stylesheet" href="https://use.typekit.net/mrg0hpc.css">
    <title>Machine Learning</title>
        <style>
        .footer__ {
            background-color: grey;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
        }
        a:link {
        text-decoration: none;
        color: green;
        }

        /* visited link */
        a:visited {
        color: red;
        text-decoration: none;
        }

        /* mouse over link */
        a:hover {
        color: blue;
        text-decoration: underline;
        }
        a:active{
            text-decoration: underline;
        }
        
    </style>
</head>

<body>
        <%-include('partials/navbar')%>
    <div id="primary" class="site-content">
        <div id="content" role="main">
            <article id="post-200038" class="post-200038 page type-page status-publish hentry">
                <div class="entry-content">
                    <header class="entry-header">
                        <h1 class="entry-title" style="display:inline">Machine Learning</h1>
                        <p></p>
                        </li>
                        </ul>
                </div>
                </header>
                <div hidead="auto"></div>
                <div class="AppSection" parentname="ML" name="Machine Learning"></div>
                <p>&nbsp;<br><strong>Machine Learning</strong> is the field of study that gives computers the capability
                    to learn without being explicitly programmed. ML is one of the most exciting technologies that one
                    would have ever come across. As it is evident from the name, it gives the computer that makes it
                    more similar to humans: <strong><em>The ability to learn</em></strong>. Machine learning is actively
                    being used today, perhaps in many more places than one would expect.</p>
                <p><img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/machineLearning3.png" alt=""
                        width="500" height="250" class="aligncenter size-full wp-image-264121" title="Click to enlarge"
                        style="cursor: zoom-in;"></p>
                <h3><a href="https://www.geeksforgeeks.org/tag/machine-learning/">Recent Articles on Machine Learning
                        !</a></h3>
                <div>
                    <div style="width:100%;float:left;text-align:left;border:1px solid #000">
                        <div style="width:50%;float:left;text-align:left">
                            <ul>&nbsp;<p></p>
                                <li><a href="#int">Introduction</a></li>
                                <li><a href="#dp">Data and it’s Processing</a></li>
                                <li><a href="#su">Supervised Learning</a></li>
                                <li><a href="#unsu">Unsupervised Learning</a></li>
                                <li><a href="#hmm">Reinforcement Learning</a></li>
                            </ul>
                        </div>
                        <div style="width:50%;float:right;text-align:left">
                            <ul>&nbsp;<p></p>
                                <li><a href="#dr">Dimensionality Reduction</a></li>
                                <li><a href="#nlp">Natural Language Processing</a></li>
                                <li><a href="#mp">Neural Networks</a></li>
                                <li><a href="#ap">ML – Applications</a></li>
                                <li><a href="#misc">Miscellaneous</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p><br>
                <div id="1b4172cd-acc7-4363-9184-3fadd3cdabcf" class="_ap_apex_ad" style="min-height:280px">
                    <script>
                        var adpushup = window.adpushup = window.adpushup || { que: [] };
                        adpushup.que.push(function () {
                            adpushup.triggerAd("1b4172cd-acc7-4363-9184-3fadd3cdabcf");
                        });
                    </script>
                </div><br>
                <p><strong><a name="int"></a>Introduction :</strong></p>
                <div class="int">
                    <ol>
                        <li><a href="https://www.geeksforgeeks.org/getting-started-machine-learning/">Getting Started
                                with Machine Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/introduction-machine-learning/" rel="noopener"
                                target="_blank">An Introduction to Machine Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-machine-learning/" rel="noopener"
                                target="_blank">What is Machine Learning ?</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-introduction-data-machine-learning/"
                                rel="noopener" target="_blank">Introduction to Data in Machine Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/demystifying-machine-learning/">Demystifying Machine
                                Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/machine-learning-introduction/">ML – Applications</a>
                        </li>
                        <li><a href="https://www.geeksforgeeks.org/best-python-libraries-for-machine-learning/"
                                rel="noopener" target="_blank">Best Python libraries for Machine Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/artificial-intelligence-an-introduction/"
                                rel="noopener" target="_blank">Artificial Intelligence | An Introduction</a></li>
                        <li><a href="https://www.geeksforgeeks.org/machine-learning-versus-artificial-intelligence/"
                                rel="noopener" target="_blank">Machine Learning and Artificial Intelligence</a></li>
                        <li><a href="https://www.geeksforgeeks.org/difference-between-machine-learning-and-artificial-intelligence/"
                                rel="noopener" target="_blank">Difference between Machine learning and Artificial
                                Intelligence</a></li>
                        <li><a href="https://www.geeksforgeeks.org/agents-artificial-intelligence/" rel="noopener"
                                target="_blank">Agents in Artificial Intelligence</a></li>
                        <li><a href="https://www.geeksforgeeks.org/10-basic-machine-learning-interview-questions/"
                                rel="noopener" target="_blank">10 Basic Machine Learning Interview Questions</a></li>
                    </ol>
                </div>
                <p><strong><a name="dp"></a>Data and It’s Processing:</strong></p>
                <div class="dp">
                    <ol>
                        <li><a href="https://www.geeksforgeeks.org/ml-introduction-data-machine-learning/"
                                rel="noopener" target="_blank">Introduction to Data in Machine Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-understanding-data-processing/" rel="noopener"
                                target="_blank">Understanding Data Processing</a></li>
                        <li><a href="https://www.geeksforgeeks.org/python-create-test-datasets-using-sklearn/"
                                rel="noopener" target="_blank">Python | Create Test DataSets using Sklearn</a></li>
                        <li><a href="https://www.geeksforgeeks.org/python-generate-test-datasets-for-machine-learning/"
                                rel="noopener" target="_blank">Python | Generate test datasets for Machine learning</a>
                        </li>
                        <li><a href="https://www.geeksforgeeks.org/data-preprocessing-machine-learning-python/"
                                rel="noopener" target="_blank">Python | Data Preprocessing in Python</a></li>
                        <li><a href="https://www.geeksforgeeks.org/data-cleansing-introduction/" rel="noopener"
                                target="_blank">Data Cleansing</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-feature-scaling-part-1/" rel="noopener"
                                target="_blank">Feature Scaling – Part 1</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-feature-scaling-part-2/" rel="noopener"
                                target="_blank">Feature Scaling – Part 2</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-label-encoding-of-datasets-in-python/"
                                rel="noopener" target="_blank">Python | Label Encoding of datasets</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-one-hot-encoding-of-datasets-in-python/"
                                rel="noopener" target="_blank">Python | One Hot Encoding of datasets</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-handling-imbalanced-data-with-smote-and-near-miss-algorithm-in-python/"
                                rel="noopener" target="_blank">Handling Imbalanced Data with SMOTE and Near Miss
                                Algorithm in Python</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-dummy-variable-trap-in-regression-models/?ref=rp"
                                rel="noopener" target="_blank">Dummy variable trap in Regression Models</a></li>
                    </ol>
                </div>
                <p><strong><a name="su"></a>Supervised learning :</strong></p>
                <div class="su">
                    <ol>
                        <li><a href="https://www.geeksforgeeks.org/getting-started-with-classification/" rel="noopener"
                                target="_blank">Getting started with Classification</a></li>
                        <li><a href="https://www.geeksforgeeks.org/basic-concept-classification-data-mining/"
                                rel="noopener" target="_blank">Basic Concept of Classification</a></li>
                        <li><a href="https://www.geeksforgeeks.org/types-of-regression-techniques/" rel="noopener"
                                target="_blank">Types of Regression Techniques</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-classification-vs-regression/" rel="noopener"
                                target="_blank">Classification vs Regression</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-types-learning-supervised-learning/"
                                rel="noopener" target="_blank">ML | Types of Learning – Supervised Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/multiclass-classification-using-scikit-learn/"
                                rel="noopener" target="_blank">Multiclass classification using scikit-learn</a></li>
                        <li>
                            <ul><strong>Gradient Descent :</strong>
                                <p></p>
                                <li><a href="https://www.geeksforgeeks.org/gradient-descent-algorithm-and-its-variants/"
                                        rel="noopener" target="_blank">Gradient Descent algorithm and its variants</a>
                                </li>
                                <li><a href="https://www.geeksforgeeks.org/ml-stochastic-gradient-descent-sgd/"
                                        rel="noopener" target="_blank">Stochastic Gradient Descent (SGD)</a></li>
                                <li><a href="https://www.geeksforgeeks.org/ml-mini-batch-gradient-descent-with-python/"
                                        rel="noopener" target="_blank">Mini-Batch Gradient Descent with Python</a></li>
                                <li><a href="https://www.geeksforgeeks.org/optimization-techniques-for-gradient-descent/"
                                        rel="noopener" target="_blank">Optimization techniques for Gradient Descent</a>
                                </li>
                                <li><a href="https://www.geeksforgeeks.org/ml-momentum-based-gradient-optimizer-introduction/"
                                        rel="noopener" target="_blank">Introduction to Momentum-based Gradient
                                        Optimizer</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul><strong>Linear Regression :</strong>
                                <p></p>
                                <li><a href="https://www.geeksforgeeks.org/ml-linear-regression/" rel="noopener"
                                        target="_blank">Introduction to Linear Regression</a></li>
                                <li><a href="https://www.geeksforgeeks.org/gradient-descent-in-linear-regression/"
                                        rel="noopener" target="_blank">Gradient Descent in Linear Regression</a></li>
                                <li><a href="https://www.geeksforgeeks.org/mathematical-explanation-for-linear-regression-working/"
                                        rel="noopener" target="_blank">Mathematical explanation for Linear Regression
                                        working</a></li>
                                <li><a href="https://www.geeksforgeeks.org/ml-normal-equation-in-linear-regression/"
                                        rel="noopener" target="_blank">Normal Equation in Linear Regression</a></li>
                                <li><a href="https://www.geeksforgeeks.org/linear-regression-python-implementation/"
                                        rel="noopener" target="_blank">Linear Regression (Python Implementation)</a>
                                </li>
                                <li><a href="https://www.geeksforgeeks.org/simple-linear-regression-using-r/"
                                        rel="noopener" target="_blank">Simple Linear-Regression using R</a></li>
                                <li><a href="https://www.geeksforgeeks.org/univariate-linear-regression-in-python/"
                                        rel="noopener" target="_blank">Univariate Linear Regression in Python</a></li>
                                <li><a href="https://www.geeksforgeeks.org/ml-multiple-linear-regression-using-python/"
                                        rel="noopener" target="_blank">Multiple Linear Regression using Python</a></li>
                                <li><a href="https://www.geeksforgeeks.org/multiple-linear-regression-using-r/"
                                        rel="noopener" target="_blank">Multiple Linear Regression using R</a></li>
                                <li><a href="https://www.geeksforgeeks.org/ml-locally-weighted-linear-regression/"
                                        rel="noopener" target="_blank">Locally weighted Linear Regression</a></li>
                                <li><a href="https://www.geeksforgeeks.org/generalized-linear-models/" rel="noopener"
                                        target="_blank">Generalized Linear Models</a></li>
                                <li><a href="https://www.geeksforgeeks.org/python-linear-regression-using-sklearn/"
                                        rel="noopener" target="_blank">Python | Linear Regression using sklearn</a></li>
                                <li><a href="https://www.geeksforgeeks.org/linear-regression-using-tensorflow/"
                                        rel="noopener" target="_blank">Linear Regression Using Tensorflow</a></li>
                                <li><a href="https://www.geeksforgeeks.org/a-practical-approach-to-simple-linear-regression-using-r/"
                                        rel="noopener" target="_blank">A Practical approach to Simple Linear Regression
                                        using R</a></li>
                                <li><a href="https://www.geeksforgeeks.org/linear-regression-using-pytorch/"
                                        rel="noopener" target="_blank">Linear Regression using PyTorch</a></li>
                                <li><a href="https://www.geeksforgeeks.org/pyspark-linear-regression-using-apache-mllib/"
                                        rel="noopener" target="_blank">Pyspark | Linear regression using Apache
                                        MLlib<br></a></li>
                                <li><a href="https://www.geeksforgeeks.org/ml-boston-housing-kaggle-challenge-with-linear-regression/"
                                        rel="noopener" target="_blank">ML | Boston Housing Kaggle Challenge with Linear
                                        Regression</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.geeksforgeeks.org/python-implementation-of-polynomial-regression/"
                                rel="noopener" target="_blank">Python | Implementation of <strong>Polynomial
                                    Regression</strong></a></li>
                        <li><a href="https://www.geeksforgeeks.org/softmax-regression-using-tensorflow/" rel="noopener"
                                target="_blank"><strong>Softmax Regression</strong> using TensorFlow</a></li>
                        <li>
                            <ul><strong>Logistic Regression :</strong>
                                <p></p>
                                <li><a href="https://www.geeksforgeeks.org/understanding-logistic-regression/"
                                        rel="noopener" target="_blank">Understanding Logistic Regression</a></li>
                                <li><a href="https://www.geeksforgeeks.org/ml-why-logistic-regression-in-classification/"
                                        rel="noopener" target="_blank">Why Logistic Regression in Classification ?</a>
                                </li>
                                <li><a href="https://www.geeksforgeeks.org/ml-logistic-regression-using-python/"
                                        rel="noopener" target="_blank">Logistic Regression using Python</a></li>
                                <li><a href="https://www.geeksforgeeks.org/ml-cost-function-in-logistic-regression/"
                                        rel="noopener" target="_blank">Cost function in Logistic Regression</a></li>
                                <li><a href="https://www.geeksforgeeks.org/ml-logistic-regression-using-tensorflow/"
                                        rel="noopener" target="_blank">Logistic Regression using Tensorflow</a></li>
                            </ul><br>
                            <div id="1b4172cd-acc7-4363-9184-3fadd3cdabcf" class="_ap_apex_ad" style="min-height:280px">
                                <script>
                                    var adpushup = window.adpushup = window.adpushup || { que: [] };
                                    adpushup.que.push(function () {
                                        adpushup.triggerAd("1b4172cd-acc7-4363-9184-3fadd3cdabcf");
                                    });
                                </script>
                            </div><br>
                        </li>
                        <li><a href="https://www.geeksforgeeks.org/naive-bayes-classifiers/" rel="noopener"
                                target="_blank"><strong>Naive Bayes</strong> Classifiers</a></li>
                        <li>
                            <ul><strong>Support Vector:</strong>
                                <p></p>
                                <li><a href="https://www.geeksforgeeks.org/classifying-data-using-support-vector-machinessvms-in-python/"
                                        rel="noopener" target="_blank">Support Vector Machines(SVMs) in Python</a></li>
                                <li><a href="https://www.geeksforgeeks.org/svm-hyperparameter-tuning-using-gridsearchcv-ml/"
                                        rel="noopener" target="_blank">SVM Hyperparameter Tuning using GridSearchCV</a>
                                </li>
                                <li><a href="https://www.geeksforgeeks.org/classifying-data-using-support-vector-machinessvms-in-r/"
                                        rel="noopener" target="_blank">Support Vector Machines(SVMs) in R</a></li>
                                <li><a href="https://www.geeksforgeeks.org/ml-using-svm-to-perform-classification-on-a-non-linear-dataset/"
                                        rel="noopener" target="_blank">Using SVM to perform classification on a
                                        non-linear dataset</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul><strong>Decision Tree:</strong>
                                <p></p>
                                <li><a href="https://www.geeksforgeeks.org/decision-tree/" rel="noopener"
                                        target="_blank">Decision Tree</a></li>
                                <li><a href="https://www.geeksforgeeks.org/python-decision-tree-regression-using-sklearn/"
                                        rel="noopener" target="_blank">Decision Tree Regression using sklearn</a></li>
                                <li><a href="https://www.geeksforgeeks.org/decision-tree-introduction-example/"
                                        rel="noopener" target="_blank">Decision Tree Introduction with example</a></li>
                                <li><a href="https://www.geeksforgeeks.org/decision-tree-implementation-python/"
                                        rel="noopener" target="_blank">Decision tree implementation using Python</a>
                                </li>
                                <li><a href="https://www.geeksforgeeks.org/decision-tree-in-software-engineering/"
                                        rel="noopener" target="_blank">Decision Tree in Software Engineering</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul><strong>Random Forest:</strong>
                                <p></p>
                                <li><a href="https://www.geeksforgeeks.org/random-forest-regression-in-python/"
                                        rel="noopener" target="_blank">Random Forest Regression in Python</a></li>
                                <li><a href="https://www.geeksforgeeks.org/ensemble-classifier-data-mining/"
                                        rel="noopener" target="_blank">Ensemble Classifier</a></li>
                                <li><a href="https://www.geeksforgeeks.org/ml-voting-classifier-using-sklearn/"
                                        rel="noopener" target="_blank">Voting Classifier using Sklearn<br></a></li>
                                <li><a href="https://www.geeksforgeeks.org/ml-bagging-classifier/" rel="noopener"
                                        target="_blank">Bagging classifier</a></li>
                            </ul>
                        </li>
                    </ol>
                </div>
                <p><strong><a name="unsu"></a>Unsupervised learning :</strong></p>
                <div class="unsu">
                    <ol>
                        <li><a href="https://www.geeksforgeeks.org/ml-types-learning-part-2/" rel="noopener"
                                target="_blank">ML | Types of Learning – Unsupervised Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/supervised-unsupervised-learning/" rel="noopener"
                                target="_blank">Supervised and Unsupervised learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/clustering-in-machine-learning/" rel="noopener"
                                target="_blank">Clustering in Machine Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/different-types-clustering-algorithm/" rel="noopener"
                                target="_blank">Different Types of Clustering Algorithm</a></li>
                        <li><a href="https://www.geeksforgeeks.org/k-means-clustering-introduction/" rel="noopener"
                                target="_blank">K means Clustering – Introduction</a></li>
                        <li><a href="https://www.geeksforgeeks.org/elbow-method-for-optimal-value-of-k-in-kmeans/"
                                rel="noopener" target="_blank">Elbow Method for optimal value of k in KMeans</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-random-intialization-trap-in-k-means/?ref=rp"
                                rel="noopener" target="_blank">Random Initialization Trap in K-Means</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-k-means-algorithm/" rel="noopener"
                                target="_blank">ML | K-means++ Algorithm</a></li>
                        <li><a href="https://www.geeksforgeeks.org/analysis-of-test-data-using-k-means-clustering-in-python/"
                                rel="noopener" target="_blank">Analysis of test data using K-Means Clustering in
                                Python</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-mini-batch-k-means-clustering-algorithm/"
                                rel="noopener" target="_blank">Mini Batch K-means clustering algorithm</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-mean-shift-clustering/" rel="noopener"
                                target="_blank">Mean-Shift Clustering</a></li>
                        <li><a href="https://www.geeksforgeeks.org/dbscan-clustering-in-ml-density-based-clustering/"
                                rel="noopener" target="_blank">DBSCAN – Density based clustering</a></li>
                        <li><a href="https://www.geeksforgeeks.org/implementing-dbscan-algorithm-using-sklearn/"
                                rel="noopener" target="_blank">Implementing DBSCAN algorithm using Sklearn</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-fuzzy-clustering/" rel="noopener"
                                target="_blank">Fuzzy Clustering</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-spectral-clustering/" rel="noopener"
                                target="_blank">Spectral Clustering</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-optics-clustering-explanation/" rel="noopener"
                                target="_blank">OPTICS Clustering</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-optics-clustering-implementing-using-sklearn/"
                                rel="noopener" target="_blank">OPTICS Clustering Implementing using Sklearn</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-hierarchical-clustering-agglomerative-and-divisive-clustering/"
                                rel="noopener" target="_blank">Hierarchical clustering (Agglomerative and Divisive
                                clustering)</a></li>
                        <li><a href="https://www.geeksforgeeks.org/implementing-agglomerative-clustering-using-sklearn/"
                                rel="noopener" target="_blank">Implementing Agglomerative Clustering using Sklearn</a>
                        </li>
                        <li><a href="https://www.geeksforgeeks.org/gaussian-mixture-model/" rel="noopener"
                                target="_blank">Gaussian Mixture Model</a></li>
                    </ol>
                </div>
                <p><strong><a name="hmm"></a>Reinforcement Learning:</strong></p>
                <div class="hmm">
                    <ol>
                        <li><a href="https://www.geeksforgeeks.org/what-is-reinforcement-learning/" rel="noopener"
                                target="_blank">Reinforcement learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-reinforcement-learning-algorithm-python-implementation-using-q-learning/"
                                rel="noopener" target="_blank">Reinforcement Learning Algorithm : Python Implementation
                                using Q-learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/introduction-to-thompson-sampling-reinforcement-learning/"
                                rel="noopener" target="_blank">Introduction to Thompson Sampling</a></li>
                        <li><a href="https://www.geeksforgeeks.org/genetic-algorithm-for-reinforcement-learning-python-implementation/"
                                rel="noopener" target="_blank">Genetic Algorithm for Reinforcement Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/sarsa-reinforcement-learning/" rel="noopener"
                                target="_blank">SARSA Reinforcement Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/q-learning-in-python/" rel="noopener"
                                target="_blank">Q-Learning in Python</a></li>
                    </ol>
                </div>
                <p><strong><a name="dr"></a>Dimensionality Reduction :</strong></p>
                <div class="dr">
                    <ol>
                        <li><a href="https://www.geeksforgeeks.org/dimensionality-reduction/" rel="noopener"
                                target="_blank">Introduction to Dimensionality Reduction</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-introduction-to-kernel-pca/" rel="noopener"
                                target="_blank">Introduction to Kernel PCA</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-principal-component-analysispca/" rel="noopener"
                                target="_blank">Principal Component Analysis(PCA)</a></li>
                        <li><a href="https://www.geeksforgeeks.org/principal-component-analysis-with-python/"
                                rel="noopener" target="_blank">Principal Component Analysis with Python</a></li>
                        <li><a href="https://www.geeksforgeeks.org/eigenvector-computation-and-low-rank-approximations/"
                                rel="noopener" target="_blank">Low-Rank Approximations</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-linear-discriminant-analysis/" rel="noopener"
                                target="_blank">Overview of Linear Discriminant Analysis </a>(LDA)</li>
                        <li>Mathematical Explanation of Linear Discriminant Analysis (LDA)</li>
                        <li><a href="https://www.geeksforgeeks.org/gaussian-discriminant-analysis/" rel="noopener"
                                target="_blank">Generalized Discriminant Analysis (GDA)</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-independent-component-analysis/" rel="noopener"
                                target="_blank">Independent Component Analysis</a></li>
                        <li><a href="https://www.geeksforgeeks.org/feature-mapping/" rel="noopener"
                                target="_blank">Feature Mapping</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-extra-tree-classifier-for-feature-selection/"
                                rel="noopener" target="_blank">Extra Tree Classifier for Feature Selection</a></li>
                        <li><a href="https://www.geeksforgeeks.org/chi-square-test-for-feature-selection-mathematical-explanation/"
                                rel="noopener" target="_blank">Chi-Square Test for Feature Selection – Mathematical
                                Explanation</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-t-distributed-stochastic-neighbor-embedding-t-sne-algorithm/"
                                rel="noopener" target="_blank">ML | T-distributed Stochastic Neighbor Embedding (t-SNE)
                                Algorithm</a></li>
                        <li><a href="https://www.geeksforgeeks.org/python-how-and-where-to-apply-feature-scaling/"
                                rel="noopener" target="_blank">Python | How and where to apply Feature Scaling?</a></li>
                        <li><a href="https://www.geeksforgeeks.org/parameters-feature-selection/" rel="noopener"
                                target="_blank">Parameters for Feature Selection</a></li>
                        <li><a href="https://www.geeksforgeeks.org/underfitting-and-overfitting-in-machine-learning/"
                                rel="noopener" target="_blank">Underfitting and Overfitting in Machine Learning</a></li>
                    </ol>
                </div>
                <p><strong><a name="nlp"></a>Natural Language Processing :</strong></p><br>
                <br>
                <div class="nlp">
                    <ol>
                        <li><a href="https://www.geeksforgeeks.org/introduction-to-natural-language-processing/"
                                rel="noopener" target="_blank">Introduction to Natural Language Processing</a></li>
                        <li><a href="https://www.geeksforgeeks.org/text-preprocessing-in-python-set-1/" rel="noopener"
                                target="_blank">Text Preprocessing in Python | Set – 1</a></li>
                        <li><a href="https://www.geeksforgeeks.org/text-preprocessing-in-python-set-2/" rel="noopener"
                                target="_blank">Text Preprocessing in Python | Set 2</a></li>
                        <li><a href="https://www.geeksforgeeks.org/removing-stop-words-nltk-python/" rel="noopener"
                                target="_blank">Removing stop words with NLTK in Python</a></li>
                        <li><a href="https://www.geeksforgeeks.org/tokenize-text-using-nltk-python/" rel="noopener"
                                target="_blank">Tokenize text using NLTK in python</a></li>
                        <li><a href="https://www.geeksforgeeks.org/nlp-how-tokenizing-text-sentence-words-works/"
                                rel="noopener" target="_blank">How tokenizing text, sentence, words works</a></li>
                        <li><a href="https://www.geeksforgeeks.org/introduction-to-stemming/" rel="noopener"
                                target="_blank">Introduction to Stemming</a></li>
                        <li><a href="https://www.geeksforgeeks.org/python-stemming-words-with-nltk/" rel="noopener"
                                target="_blank">Stemming words with NLTK</a></li>
                        <li><a href="https://www.geeksforgeeks.org/python-lemmatization-with-nltk/" rel="noopener"
                                target="_blank">Lemmatization with NLTK</a></li>
                        <li><a href="https://www.geeksforgeeks.org/python-lemmatization-with-textblob/" rel="noopener"
                                target="_blank">Lemmatization with TextBlob</a></li>
                        <li><a href="https://www.geeksforgeeks.org/get-synonymsantonyms-nltk-wordnet-python/"
                                rel="noopener" target="_blank">How to get synonyms/antonyms from NLTK WordNet in
                                Python?</a></li>
                    </ol>
                </div>
                <p><strong><a name="mp"></a>Neural Networks :</strong></p>
                <div class="mp">
                    <ol>
                        <li><a href="https://www.geeksforgeeks.org/introduction-to-artificial-neutral-networks/"
                                rel="noopener" target="_blank">Introduction to Artificial Neutral Networks | Set 1</a>
                        </li>
                        <li><a href="https://www.geeksforgeeks.org/introduction-artificial-neural-network-set-2/"
                                rel="noopener" target="_blank">Introduction to Artificial Neural Network | Set 2</a>
                        </li>
                        <li><a href="https://www.geeksforgeeks.org/introduction-ann-artificial-neural-networks-set-3-hybrid-systems/"
                                rel="noopener" target="_blank">Introduction to ANN (Artificial Neural Networks) | Set 3
                                (Hybrid Systems)</a></li>
                        <li><a href="https://www.geeksforgeeks.org/introduction-to-ann-set-4-network-architectures/"
                                rel="noopener" target="_blank">Introduction to ANN | Set 4 (Network Architectures)</a>
                        </li>
                        <li><a href="https://www.geeksforgeeks.org/activation-functions-neural-networks/" rel="noopener"
                                target="_blank">Activation functions</a></li>
                        <li><a href="https://www.geeksforgeeks.org/implementing-ann-training-process-in-python/"
                                rel="noopener" target="_blank">Implementing Artificial Neural Network training process
                                in Python</a></li>
                        <li><a href="https://www.geeksforgeeks.org/single-neuron-neural-network-python/" rel="noopener"
                                target="_blank">A single neuron neural network in Python</a></li>
                        <li>
                            <ul><strong>Convolutional Neural Networks</strong>
                                <p></p>
                                <li><a href="https://www.geeksforgeeks.org/introduction-convolution-neural-network/"
                                        rel="noopener" target="_blank">Introduction to Convolution Neural Network</a>
                                </li>
                                <li><a href="https://www.geeksforgeeks.org/cnn-introduction-to-pooling-layer/"
                                        rel="noopener" target="_blank">Introduction to Pooling Layer</a></li>
                                <li><a href="https://www.geeksforgeeks.org/cnn-introduction-to-padding/" rel="noopener"
                                        target="_blank">Introduction to Padding</a></li>
                                <li><a href="https://www.geeksforgeeks.org/types-of-padding-in-convolution-layer/"
                                        rel="noopener" target="_blank">Types of padding in convolution layer</a></li>
                                <li><a href="https://www.geeksforgeeks.org/applying-convolutional-neural-network-on-mnist-dataset/"
                                        rel="noopener" target="_blank">Applying Convolutional Neural Network on mnist
                                        dataset</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul><strong>Recurrent Neural Networks</strong>
                                <p></p>
                                <li><a href="https://www.geeksforgeeks.org/introduction-to-recurrent-neural-network/"
                                        rel="noopener" target="_blank">Introduction to Recurrent Neural Network</a></li>
                                <li><a href="https://www.geeksforgeeks.org/recurrent-neural-networks-explanation/"
                                        rel="noopener" target="_blank">Recurrent Neural Networks Explanation</a></li>
                                <li><a href="https://www.geeksforgeeks.org/seq2seq-model-in-machine-learning/"
                                        rel="noopener" target="_blank">seq2seq model</a></li>
                                <li><a href="https://www.geeksforgeeks.org/deep-learning-introduction-to-long-short-term-memory/"
                                        rel="noopener" target="_blank">Introduction to Long Short Term Memory</a></li>
                                <li><a href="https://www.geeksforgeeks.org/long-short-term-memory-networks-explanation/"
                                        rel="noopener" target="_blank">Long Short Term Memory Networks Explanation</a>
                                </li>
                                <li><a href="https://www.geeksforgeeks.org/gated-recurrent-unit-networks/"
                                        rel="noopener" target="_blank">Gated Recurrent Unit Networks(GAN)</a></li>
                                <li><a href="https://www.geeksforgeeks.org/ml-text-generation-using-gated-recurrent-unit-networks/"
                                        rel="noopener" target="_blank">Text Generation using Gated Recurrent Unit
                                        Networks</a></li>
                            </ul>
                        </li>
                        <li>
                            <ul><strong>GANs – Generative Adversarial Network</strong>
                                <p></p>
                                <li><a href="https://www.geeksforgeeks.org/generative-adversarial-network-gan/"
                                        rel="noopener" target="_blank">Introduction to Generative Adversarial
                                        Network</a></li>
                                <li><a href="https://www.geeksforgeeks.org/generative-adversarial-networks-gans-an-introduction/"
                                        rel="noopener" target="_blank">Generative Adversarial Networks (GANs)</a></li>
                                <li><a href="https://www.geeksforgeeks.org/use-cases-of-generative-adversarial-networks/"
                                        rel="noopener" target="_blank">Use Cases of Generative Adversarial Networks</a>
                                </li>
                                <li><a href="https://www.geeksforgeeks.org/building-a-generative-adversarial-network-using-keras/"
                                        rel="noopener" target="_blank">Building a Generative Adversarial Network using
                                        Keras</a></li>
                                <li><a href="https://www.geeksforgeeks.org/modal-collapse-in-gans/" rel="noopener"
                                        target="_blank">Modal Collapse in GANs</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.geeksforgeeks.org/deep-q-learning/" rel="noopener"
                                target="_blank">Introduction to Deep Q-Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/implementing-deep-q-learning-using-tensorflow/"
                                rel="noopener" target="_blank">Implementing Deep Q-Learning using Tensorflow</a></li>
                    </ol>
                </div>
                <p><strong><a name="ap"></a>ML – Applications :</strong></p>
                <div class="ap">
                    <ol>
                        <li><a href="https://www.geeksforgeeks.org/ml-rainfall-prediction-using-linear-regression/"
                                rel="noopener" target="_blank">Rainfall prediction using Linear regression</a></li>
                        <li><a href="https://www.geeksforgeeks.org/identifying-handwritten-digits-using-logistic-regression-pytorch/"
                                rel="noopener" target="_blank">Identifying handwritten digits using Logistic Regression
                                in PyTorch</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-kaggle-breast-cancer-wisconsin-diagnosis-using-logistic-regression/"
                                rel="noopener" target="_blank">Kaggle Breast Cancer Wisconsin Diagnosis using Logistic
                                Regression</a></li>
                        <li><a href="https://www.geeksforgeeks.org/python-implementation-of-movie-recommender-system/"
                                rel="noopener" target="_blank">Python | Implementation of Movie Recommender System</a>
                        </li>
                        <li><a href="https://www.geeksforgeeks.org/train-a-support-vector-machine-to-recognize-facial-features-in-c/"
                                rel="noopener" target="_blank">Support Vector Machine to recognize facial features in
                                C++</a></li>
                        <li><a href="https://www.geeksforgeeks.org/decision-trees-fake-coin-puzzle/" rel="noopener"
                                target="_blank">Decision Trees – Fake (Counterfeit) Coin Puzzle (12 Coin Puzzle)</a>
                        </li>
                        <li><a href="https://www.geeksforgeeks.org/ml-credit-card-fraud-detection/" rel="noopener"
                                target="_blank">Credit Card Fraud Detection</a></li>
                        <li><a href="https://www.geeksforgeeks.org/python-nlp-analysis-of-restaurant-reviews/"
                                rel="noopener" target="_blank">NLP analysis of Restaurant reviews</a></li>
                        <li><a href="https://www.geeksforgeeks.org/applying-multinomial-naive-bayes-to-nlp-problems/"
                                rel="noopener" target="_blank">Applying Multinomial Naive Bayes to NLP Problems</a></li>
                        <li><a href="https://www.geeksforgeeks.org/image-compression-using-k-means-clustering/"
                                rel="noopener" target="_blank">Image compression using K-means clustering</a></li>
                        <li><a href="https://www.geeksforgeeks.org/avengers-endgame-and-deep-learning/" rel="noopener"
                                target="_blank">Deep learning | Image Caption Generation using the Avengers EndGames
                                Characters</a></li>
                        <li><a href="https://www.geeksforgeeks.org/how-does-google-use-machine-learning/" rel="noopener"
                                target="_blank">How Does Google Use Machine Learning?</a></li>
                        <li><a href="https://www.geeksforgeeks.org/how-does-nasa-use-machine-learning/" rel="noopener"
                                target="_blank">How Does NASA Use Machine Learning?</a></li>
                        <li><a href="https://www.geeksforgeeks.org/5-mind-blowing-ways-facebook-uses-machine-learning/"
                                rel="noopener" target="_blank">5 Mind-Blowing Ways Facebook Uses Machine
                                Learning<br></a></li>
                        <li><a href="https://www.geeksforgeeks.org/targeted-advertising-using-machine-learning/"
                                rel="noopener" target="_blank">Targeted Advertising using Machine Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/how-machine-learning-is-used-by-famous-companies/"
                                rel="noopener" target="_blank">How Machine Learning Is Used by Famous Companies?</a>
                        </li>
                    </ol>
                </div>
                <p><strong><a name="misc"></a>Misc :</strong></p>
                <div class="misc">
                    <ol>
                        <li><a href="https://www.geeksforgeeks.org/pattern-recognition-introduction/" rel="noopener"
                                target="_blank">Pattern Recognition | Introduction</a></li>
                        <li><a href="https://www.geeksforgeeks.org/calculate-efficiency-binary-classifier/"
                                rel="noopener" target="_blank">Calculate Efficiency Of Binary Classifier</a></li>
                        <li><a href="https://www.geeksforgeeks.org/ml-logistic-regression-v-s-decision-tree-classification/"
                                rel="noopener" target="_blank">Logistic Regression v/s Decision Tree Classification</a>
                        </li>
                        <li><a href="https://www.geeksforgeeks.org/r-vs-python-datascience/" rel="noopener"
                                target="_blank">R vs Python in Datascience</a></li>
                        <li><a href="https://www.geeksforgeeks.org/explanation-of-fundamental-functions-involved-in-a3c-algorithm/"
                                rel="noopener" target="_blank">Explanation of Fundamental Functions involved in A3C
                                algorithm</a></li>
                        <li><a href="https://www.geeksforgeeks.org/differential-privacy-and-deep-learning/"
                                rel="noopener" target="_blank">Differential Privacy and Deep Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/artificial-intelligence-vs-machine-learning-vs-deep-learning/"
                                rel="noopener" target="_blank">Artificial intelligence vs Machine Learning vs Deep
                                Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/introduction-to-multi-task-learningmtl-for-deep-learning/"
                                rel="noopener" target="_blank">Introduction to Multi-Task Learning(MTL) for Deep
                                Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/top-10-algorithms-every-machine-learning-engineer-should-know/"
                                rel="noopener" target="_blank">Top 10 Algorithms every Machine Learning Engineer should
                                know</a></li>
                        <li><a href="https://www.geeksforgeeks.org/azure-virtual-machine-for-machine-learning/"
                                rel="noopener" target="_blank">Azure Virtual Machine for Machine Learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/30-minutes-to-machine-learning/" rel="noopener"
                                target="_blank">30 minutes to machine learning</a></li>
                        <li><a href="https://www.geeksforgeeks.org/what-is-automl-in-machine-learning/" rel="noopener"
                                target="_blank">What is AutoML in Machine Learning?</a></li>
                        <li><a href="https://www.geeksforgeeks.org/confusion-matrix-machine-learning/" rel="noopener"
                                target="_blank">Confusion Matrix in Machine Learning</a>
                                <%-include('partials/footer')%>
</body>
<script src="/js/main.js"></script>

</html>