<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Development</title>
    <style>
        .container {
            display: flex;
            flex-direction: row;
            padding: 5px;
        }
        a:link {
        text-decoration: none;
        color: green;
        }

        /* visited link */
        a:visited {
        color: red;
        text-decoration: none;
        }

        /* mouse over link */
        a:hover {
        color: blue;
        text-decoration: underline;
        }
        a:active{
            text-decoration: underline;
        }
        .footer__ {
            background-color: grey;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
        }
    </style>
</head>

<body>
    <article id="post-568507" class="post-568507 page type-page status-publish hentry">
        <div class="entry-content">
            <header class="entry-header">
                <h1 class="entry-title" style="display:inline">Web Development</h1>
                <div class="meta" style="margin:15px 0">
                    <ul>
                        <li style="list-style:none;margin-left:0">
                            <p></p>
                        </li>
                    </ul>
                </div>
            </header>
            <p>&nbsp;<br>Web development refers to the building, creating, and maintaining of websites. It includes
                aspects such as web design, web publishing, web programming, and database management. It is the creation
                of an application that works over the internet i.e. websites.</p>
            <p><img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210310114057/web-development-image.png"
                    alt="" width="1100" height="496" class="aligncenter size-full wp-image-570785"
                    srcset="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210310114057/web-development-image.png 1100w, https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210310114057/web-development-image-300x135.png 300w, https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210310114057/web-development-image-768x346.png 768w, https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210310114057/web-development-image-1024x462.png 1024w, https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210310114057/web-development-image-660x298.png 660w"
                    sizes="(max-width: 1100px) 100vw, 1100px" title="Click to enlarge" style="cursor: zoom-in;"></p>
            <p>The word Web Development is made up of two words, that is:</p>
            <ul>
                <li><strong>Web:</strong> It refers to websites, web pages or anything that works over the internet.
                </li>
                <li><strong>Development:</strong> Building the application from scratch.</li>
            </ul>
            <p><strong>Web Development can be classified into two ways:</strong></p>
            <ul>
                <li><a href="https://www.geeksforgeeks.org/how-to-become-a-front-end-developer/" rel="noopener"
                        target="_blank">Frontend Development</a></li>
                <li><a href="https://www.geeksforgeeks.org/what-is-the-difference-between-front-end-and-back-end-web-development/"
                        rel="noopener" target="_blank">Backend Development</a></li>
            </ul>
            <p>&nbsp;&nbsp;</p><br>
            <div id="AP_G4GR_5"></div>
            <div style="min-height:280px" id="d6f45c53-ff16-4cc5-8b91-eb6ee7037116" class="_ap_apex_ad">
                <script>var adpushup = window.adpushup = window.adpushup || { que: [] }; adpushup.que.push(function () { adpushup.triggerAd("d6f45c53-ff16-4cc5-8b91-eb6ee7037116"); });</script>
            </div><br>
            <p><strong>Frontend Development: </strong>The part of a website that the user interacts directly is termed
                as front end. It is also referred to as the ‘client side’ of the application.</p>
            <p><img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309160419/frontend-design-roadmap.jpeg"
                    alt="Frontend Development Roadmap" width="1312" height="656"
                    class="aligncenter size-full wp-image-570201"
                    srcset="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309160419/frontend-design-roadmap.jpeg 1312w, https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309160419/frontend-design-roadmap-300x150.jpeg 300w, https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309160419/frontend-design-roadmap-768x384.jpeg 768w, https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309160419/frontend-design-roadmap-1024x512.jpeg 1024w, https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309160419/frontend-design-roadmap-660x330.jpeg 660w"
                    sizes="(max-width: 1312px) 100vw, 1312px" title="Click to enlarge" style="cursor: zoom-in;"></p>
            <ul>
                <li><a href="https://www.geeksforgeeks.org/html-tutorials/"><strong>HTML</strong></a>: HTML stands for
                    HyperText Markup Language. It is used to design the front end portion of web pages using markup
                    language. It acts as a skeleton for a website since it is used to make the structure of a website.
                </li>
                <li><a href="https://www.geeksforgeeks.org/css-tutorials/"><strong>CSS</strong></a><strong>:
                    </strong>Cascading Style Sheets fondly referred to as CSS is a simply designed language intended to
                    simplify the process of making web pages presentable. It is used to style our website.</li>
                <li><a href="https://www.geeksforgeeks.org/javascript-tutorial/"><strong>JavaScript</strong></a><strong>:
                    </strong>JavaScript is a scripting language used to provide a dynamic behavior to our website.</li>
                <li><a href="https://www.geeksforgeeks.org/bootstrap-tutorials/"><strong>Bootstrap:
                        </strong></a>Bootstrap is a free and open-source tool collection for creating responsive
                    websites and web applications. It is the most popular CSS framework for developing responsive,
                    mobile-first websites. Nowadays, the websites are perfect for all the browsers (IE, Firefox, and
                    Chrome) and for all sizes of screens (Desktop, Tablets, Phablets, and Phones).<ul>
                        <li><a href="https://www.geeksforgeeks.org/bootstrap-4-introduction/">Bootstrap 4</a></li>
                        <li><a href="https://www.geeksforgeeks.org/bootstrap-5-introduction/">Bootstrap 5</a></li>
                    </ul>
                </li>
            </ul>
            <p><strong>Frontend Frameworks and Libraries:</strong></p>
            <ul>
                <li><a href="https://www.geeksforgeeks.org/angularjs-tutorials/">AngularJS</a></li>
                <li><a href="https://www.geeksforgeeks.org/reactjs-tutorials/">React.js</a></li>
                <li><a href="https://www.geeksforgeeks.org/vue-js-introduction-installation/">VueJS</a></li>
                <li><a href="https://www.geeksforgeeks.org/jquery-tutorials/">jQuery</a></li>
                <li><a href="https://www.geeksforgeeks.org/bootstrap-tutorials/">Bootstrap</a></li>
                <li><a href="https://www.geeksforgeeks.org/material-ui-introduction-and-installation-for-react/">Material
                        UI</a></li>
                <li><a href="https://www.geeksforgeeks.org/css-tailwind-introduction/">Tailwind CSS</a></li>
                <li><a href="https://www.geeksforgeeks.org/tag/jquery-ui/">jQuery UI</a></li>
                <li>Some other libraries and frameworks are: <a
                        href="https://www.geeksforgeeks.org/handlebars-templating-in-expressjs/" rel="noopener"
                        target="_blank">Handlebar.js</a> <a
                        href="https://www.geeksforgeeks.org/difference-between-backbone-js-and-angular-js/"
                        rel="noopener" target="_blank">Backbone.js</a>, <a
                        href="https://www.geeksforgeeks.org/emberjs-vs-reactjs/" rel="noopener"
                        target="_blank">Ember.js</a> etc.</li>
            </ul>
            <p><br></p>
            <p><strong><a
                        href="https://www.geeksforgeeks.org/which-one-is-most-demanding-back-end-web-framework-between-laravel-nodejs-and-django/"
                        rel="noopener" target="_blank">Backend Development</a>: </strong>Backend is the server side of a
                website. It is the part of the website that users cannot see and interact. It is the portion of software
                that does not come in direct contact with the users. It is used to store and arrange data.</p>
            <p><img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309162115/Backend-design-roadmap.jpeg"
                    alt="Backend Design roadmap" width="1312" height="656" class="aligncenter size-full wp-image-570215"
                    srcset="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309162115/Backend-design-roadmap.jpeg 1312w, https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309162115/Backend-design-roadmap-300x150.jpeg 300w, https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309162115/Backend-design-roadmap-768x384.jpeg 768w, https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309162115/Backend-design-roadmap-1024x512.jpeg 1024w, https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210309162115/Backend-design-roadmap-660x330.jpeg 660w"
                    sizes="(max-width: 1312px) 100vw, 1312px" title="Click to enlarge" style="cursor: zoom-in;"></p>
            <ul>
                <li><a href="https://www.geeksforgeeks.org/php-tutorials/"><strong>PHP</strong></a><strong>:</strong>
                    PHP is a server-side scripting language designed specifically for web development.</li>
                <li><a href="https://www.geeksforgeeks.org/java-tutorial/"><strong>Java</strong></a><strong>:</strong>
                    Java is one of the most popular and widely used programming language. It is highly scalable.</li>
                <li><a
                        href="https://www.geeksforgeeks.org/python-programming-language/"><strong>Python</strong></a><strong>:
                    </strong>Python is a programming language that lets you work quickly and integrate systems more
                    efficiently.</li>
                <li><a
                        href="https://www.geeksforgeeks.org/nodejs-tutorials/"><strong>Node.js</strong></a><strong>:</strong>
                    Node.js is an open source and cross-platform runtime environment for executing JavaScript code
                    outside a browser.</li>
                <li><strong>Back End Frameworks:</strong> The list of back end frameworks are: <a
                        href="https://www.geeksforgeeks.org/introduction-to-express/" rel="noopener"
                        target="_blank">Express</a>, <a href="https://www.geeksforgeeks.org/django-tutorial/"
                        rel="noopener" target="_blank">Django</a>, <a
                        href="https://www.geeksforgeeks.org/how-to-install-ruby-on-rails-on-windows-and-linux/"
                        rel="noopener" target="_blank">Rails</a>, <a href="https://www.geeksforgeeks.org/tag/laravel/"
                        rel="noopener" target="_blank">Laravel</a>, <a
                        href="https://www.geeksforgeeks.org/introduction-to-spring-framework/" rel="noopener"
                        target="_blank">Spring</a>, etc.</li>
            </ul>
            <p><strong>Web Development Tutorials</strong></p>
            <ul>
                <li style="text-align:justify"><a href="https://www.geeksforgeeks.org/html-tutorials/">HTML</a></li>
                <li style="text-align:justify"><a href="https://www.geeksforgeeks.org/css-tutorials/">CSS</a></li>
                <li style="text-align:justify"><a
                        href="https://www.geeksforgeeks.org/javascript-tutorial/">JavaScript</a></li>
                <li style="text-align:justify"><a href="https://www.geeksforgeeks.org/jquery-tutorials/">jQuery</a></li>
                <li style="text-align:justify"><a
                        href="https://www.geeksforgeeks.org/bootstrap-tutorials/">BootStrap</a></li>
                <li style="text-align:justify"><a href="https://www.geeksforgeeks.org/reactjs/">React JS</a></li>
                <li style="text-align:justify"><a href="https://www.geeksforgeeks.org/angularjs-tutorials/"
                        rel="noopener" target="_blank">AngularJS</a></li>
                <li style="text-align:justify"><a href="https://www.geeksforgeeks.org/php/">PHP</a></li>
                <li style="text-align:justify"><a href="https://www.geeksforgeeks.org/nodejs-tutorials/" rel="noopener"
                        target="_blank">Node.js</a></li>
            </ul>
            <p><strong>Some Important Links on Web Development:</strong></p>
            <ul>
                <li style="text-align:justify"><a
                        href="https://www.geeksforgeeks.org/begin-web-development-with-a-head-start/">Begin Web
                        Development with a Head Start</a></li>
                <li style="text-align:justify"><a
                        href="https://www.geeksforgeeks.org/why-you-need-a-responsive-website/">Why do you need a
                        Responsive Website</a></li>
                <li style="text-align:justify"><a
                        href="https://www.geeksforgeeks.org/top-10-frameworks-for-web-applications/">Top 10 Frameworks
                        for Web Applications</a></li>
                <li style="text-align:justify"><a
                        href="https://www.geeksforgeeks.org/web-1-0-web-2-0-and-web-3-0-with-their-difference/">Web 1.0,
                        Web 2.0 and Web 3.0 with their difference</a></li>
                <li><a
                        href="https://www.geeksforgeeks.org/10-web-development-and-web-design-facts-that-you-should-know/">10
                        Web Development and Web Design Facts That You Should Know</a></li>
                <li><a href="https://www.geeksforgeeks.org/can-start-learn-web-development/">How can I start to learn
                        Web Development ?</a></li>
                <li><a href="https://www.geeksforgeeks.org/the-future-of-web-development/">The Future Of Web
                        Development</a></li>
                <li><a href="https://www.geeksforgeeks.org/best-books-to-learn-front-end-web-development/">Best Books to
                        Learn Front-End Web Development</a></li>
                <li><a href="https://www.geeksforgeeks.org/best-books-to-learn-back-end-web-development/">Best Books to
                        Learn Back-End Web Development</a></li>
                <li><a href="https://www.geeksforgeeks.org/10-things-you-should-know-as-a-web-developer/">10 Things You
                        Should Know As a Web Developer</a></li>
                <li><a
                        href="https://www.geeksforgeeks.org/how-to-choose-a-technology-stack-for-web-application-development/">How
                        to choose a Technology Stack for Web Application Development ?</a></li>
                <li><a href="https://www.geeksforgeeks.org/top-10-tools-that-every-web-developer-must-try-once/">Top 10
                        Tools That Every Web Developer Must Try Once</a></li>
            </ul>

            <a href="https://youtube.com/playlist?list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg">You can access the best
                playlist for Web Development here</a>
            <h2>Videos for you</h2>
            <div class="container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6mbwJ2xhgzM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ua24185-rcw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/MwGHiVl-gqk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/01GNWUuLbYk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YFmgNiimfyk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YBwWGvdUbQU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7WXsu6JuaCY"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lKNrkB6Kmgc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <h1>Shot on one video</h1>
            <div class="container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BsDoLVMnmZs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/u5-K_ua9sOw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hKB-YGF14SY"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BLl32FvcdVM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <%-include('partials/footer')%>
</body>

</html>